body {
background: rgb(245,247,249); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(245,247,249,1) 0%, rgba(229,235,238,1) 100%, rgba(246,248,249,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(245,247,249,1) 0%,rgba(229,235,238,1) 100%,rgba(246,248,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(245,247,249,1) 0%,rgba(229,235,238,1) 100%,rgba(246,248,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f9', endColorstr='#f6f8f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

section {
margin-top: 20px;
}

.btn-success {
margin: 5px;
}

p {
font-size: 1.2em;
}
